p{
    border: 2px solid brown;
    padding: 12px 17px;
    border-radius: 20px;
    /* background-color: yellow; */
    font-size: 18px;
}
textarea{
    border-radius: 10px;
    border: 2px solid brown;
}
a{
    text-decoration: none;
    color:black;
    border:2px solid black;
    font-size: 15px;
    margin-left: 20px;
    border-radius: 10px;
    padding:6px 15px;
    position: relative;
    top: 15px;
}
.button {
    text-decoration: none;
    color:brown;
    border:2px solid black;
    font-size: 15px;
    border-radius: 10px;
    padding:8px 13px;
    position: relative;
    top: 18px;
}